.formLogin {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*.formLogin button {*/
/*    width: 47.5%;*/
/*    height: 1.5rem;*/
/*    border: none;*/
/*    border-radius: 0.5rem;*/
/*    background-color: white;*/
/*}*/

.formLogin .adminLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.5rem;
    color: white;
}

/*.formLogin .inputEmailLogin{*/
/*    border: 2px solid rgba(0, 0, 0, 0.4);*/
/*    font-size: 1rem;*/
/*}*/

/*.formLogin input:focus{*/
/*    outline: 0;*/
/*    border: 2px solid green;*/
/*}*/
